<form>
    <label for="title">Title: </label>
    <input name="title" [(ngModel)]="newBook.title" />
    <label for="author">Author: </label>
    <input name="author" [(ngModel)]="newBook.author" />
    <label for="publicationYear">Publication Year: </label>
    <input name="publicationYear" [(ngModel)]="newBook.publicationYear" />
    <button type="submit" (click)="addBook()">Save Book</button>
  </form>

<app-book *ngFor="let book of books" [book]="book" (deleted)="deleteBook($event)"></app-book>